@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --orange: #ffa580;
    --black: #222023;
}
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.8)
    ), url(assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav {
    width: 100%;
    height: 60px;
    padding: 16px 5%;
    background-color: var(--black);
    display: flex;
    position: relative;
}
.title a {
    font-family: 'Great Vibes', cursive;
    font-size: 1.8rem;
    color: var(--orange);
    text-decoration: none;
}
nav .menu {
    width: 36px;
    height: 36px;
    padding: 8px;
    background-color: var(--orange);
    position: fixed;
    top: 12px;
    right: 5%;
    border-radius: 4px;
    cursor: pointer;
    z-index: 3;
}
#menuBtn {
    width: 100%;
    height: 100%;
}
.navlinks {
    width: 250px;
    height: 100vh;
    background-color: var(--black);
    position: fixed;
    top: 0;
    right: -250px;
    z-index: 2;
    transition: 1s;
}
.navlinks ul {
    margin-top: 60px;
}
.navlinks ul li {
    list-style: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, .4);
}
.navlinks li a {
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 24px;
    transition: .5s;
}
.navlinks li:hover a {
    padding-left: 40px;
    transition: .5s;
}

/* ZONE HERO */
.hero {
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 5%;
    transform: translateY(-25%);
}
.hero h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    color: var(--orange);
}
.hero p {
    font-size: 1.25rem;
    color: #eee;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.hero a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 16px;
    margin-right: 8px;
}
.hero a:first-child {
    color: var(--orange);
    border: 2px solid var(--orange);
    transition: .5s;
}
.hero a:last-child {
    background-color: var(--orange);
    color: #000;
    border: 2px solid var(--orange);
    transition: .5s;
}
.hero a:first-child:hover {
    background-color: var(--orange);
    color: #000;
    transition: .5s;
}
.hero a:last-child:hover {
    background-color: transparent;
    color: var(--orange);
    transition: .5s;
}

/* MAKE A RESERVATION */
.make-a-reservation {
    background-color: var(--orange);
    padding: 32px 5%;
}
.make-a-reservation > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.make-a-reservation p {
    font-size: 1rem;
    font-weight: 500;
    margin: 8px 0;

}
.make-a-reservation a {
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid var(--black);
    padding: 10px 16px;
    margin: 8px;
    transition: .5s;
}
.make-a-reservation a:hover {
    background-color: var(--black);
    color: var(--orange);
    transition: .5s;
}

/*IMPRESSIVE STARTER */
.impressive-starter {
    background-color: var(--black);
    padding: 32px 5%;
}
.impressive-starter > p {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin: 16px 0;
    color: #fff;
    letter-spacing: 1px;
}
.impressive-starter > h3 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    color: var(--orange);
    letter-spacing: 1px;
    margin-bottom: 16px;
}
hr {
    width: 120px;
    margin: 0 auto;
    margin-bottom: 32px;
    border: none;
    border-bottom: 2px solid #fff;
}


/* MENU */
.menu-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
    cursor: pointer;
}
.menu-col img {
    width: 100px;
    border-radius: 50%;
}
.menu-col .about {
    margin: 0 12px;
}
.menu-col .title {
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #e1e1e1;
}
.menu-col .desc {
    color: #aaa;
}
.menu-col .price {
    color: var(--orange);
    font-size: 1.25rem;
}

/* TODAY CHOICE */
.today-choice {
    width: 100%;
    height: 340px;
    background-image: url(assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.today-choice > div {
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.chefs-choice {
    background-color: var(--black);
    text-align: center;
    width: 355px;
    padding: 20px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.chefs-choice h3 {
    font-family: "Great Vibes", cursive;
    font-size: 2rem;
    color: var(--orange);
}
.chefs-choice h4 {
    color: #fff;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.chefs-choice p {
    color: #c4c4c4;
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
}
.chefs-choice a,
input[type="submit"] {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 16px;
    margin-top: 1rem;
    display: inline-block;
    background-color: var(--black);
    color: var(--orange);
    border: 2px solid var(--orange);
    transition: .5s;
    cursor: pointer;
}
.chefs-choice a:hover,
input[type="submit"]:hover {
    background-color: var(--orange);
    color: #000;
    font-weight: 600;
    transition: .5s;
}

/* CONTACT */
section.contact {
    background-color: var(--black);
    padding: 2rem 5%;
}
section.contact > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    color: #eee;
}
.contact-us > p {
    color: #c4c4c4;
    margin: 8px 0;
    font-size: 1rem;
}
.address {
    margin: 16px 0;
}
.address div {
    padding: 4px;
    margin-bottom: 8px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}
.address i {
    font-size: 1.25rem;
    margin-right: 2rem;
    color: var(--orange)
}

.send-email {
    width: 100%;
}
input[type="text"],
textarea {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
    resize: none;
}
input[type="text"]::placeholder,
textarea::placeholder {
    color: #c4c4c4;
}

/* FOOTER */
footer {
    background-color: #222023f8;
    padding: 1rem 5%;
    margin-top: -1px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.copy {
    color: #fff;
    font-size: 1.15rem;
}
.footer .title {
    margin: 1rem 0;
}
.social-media i {
    font-size: 1.5rem;
    color: #eee;
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 12px;
    margin: 4px;
    border-radius: 50%;
    cursor: pointer;
}
.fa-facebook-f {
    background-color: #3b5998;
}
.fa-twitter {
    background-color: #00aced;
}
.fa-instagram {
    background-color: #ff00ff;
}
.fa-google-plus-g {
    background-color: #ff6347;
}
.madeby {
    background-color: var(--black);
    margin-top: -1px;
    text-align: center;
    padding: 1rem 5%;
}
.madeby p {
    color: #eee;
    font-family: "Bahnschrift";
}
p strong {
    font-style: italic;
}


/* MEDIA QUERIES */
@media (min-width: 768px) {
    .make-a-reservation {
        flex-direction: row;
    }
    .make-a-reservation > div {
        flex-direction: row;
        max-width: 1024px;
        margin: 0 auto;
    }
    .menu .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1024px;
        margin: 0 auto;
    }
    .menu-col {
        flex-basis: 48%;
    }
    .footer {
        flex-direction: row;
    }
}

@media (min-width: 1148px) {
    section.contact > div {
        flex-direction: row;
        max-width: 1024px;
        margin: 0 auto;
    }
    .contact-us,
    .send-email {
        flex-basis: 48%;
    }
    .chefs-choice {
        right: 0
    }
}